body {
	font-family: 'Dosis', sans-serif;
	overflow-x: hidden;
}

.navigationwrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
}

.menu ul {
	padding: 0px;
}

.logophoto {
	width: 80px;
	height: 80px;
}

.logo-text {
	text-align: center;
	margin: 0px;
}

.icon-text-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon-text-home-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 0px;
	padding: 0px 10px;
}

.icon-photo {
	width: 40px;
	height: 40px;
	object-fit: contain;
	text-align: center;
}

.icon-text {
	font-size: 18px;
	color: black;
}

.icon-text-home {
	color: white;
	font-size: 18px;
}

#li-home-wrap {
	background: #7accc8;
	height: 100%;
}

.menu ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: 100%;
}

.menu ul li {
	list-style-type: none;
	padding: 10px 16px;
}

#section1 {
	margin-bottom: 100px;
}
.menu ul li {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}



/* XDXDDD */
.background-image {
	background: url("../assets/background.png");
	height: 90vh;
	max-height: 800px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	color: white;
	position: relative;
}

.first-green-back {
	background: #88d700;
	font-size: 33px;
	padding: 5px 50px;
	margin-right: 40px;
	margin-bottom: 10px;
}

.second-green-back {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #88d700;
	font-size: 70px;
	font-weight: bold;
	padding: 6px 50px;
	margin-right: 40px;
	margin-bottom: 45px;
}

.text-green-div {
	margin: 0px;
	text-decoration: none !important;
}

.second-green-back p {
	white-space: pre;
}

.wave {
	position: absolute;
	bottom: -4px;
}

.wavephoto {
	width: 100%;
}

#section-news {
	margin-bottom: 70px;
}

.news-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background: url("../assets/news-wrap.png");
	background-size: 100% 100%;
	padding: 10px;
	margin: 10px 10px;
	background-position: center;
	-webkit-filter: drop-shadow(3px 3px 3px #eee);
	filter: drop-shadow(3px 3px 3px #eee);
}

.data-color-pink {
	color: #FF69B4;
}

.data-color-blue {
	color: blue;
}

.data-color-green {
	color: green;
}

.data-color-yellow {
	color: yellow;
}

.data-color-orange {
	color: orange;
}

.pink-line {
	width: 100%;
	height: 5px;
	background: #FF69B4;
}

.blue-line {
	width: 100%;
	height: 5px;
	background: blue;
}

.green-line {
	width: 100%;
	height: 5px;
	background: green;
}

.yelllow-line {
	height: 5px;
	background: yellow;
	width: 100%;
}

.orange-line {
	height: 5px;
	background: orange;
	width: 100%;
}

.more-wrap {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: 5px;
}

.more {
	color: #FF69B4;
}

.more2 {
	color: blue;
}

.more3 {
	color: green;
}

.more4 {
	color: yellow;
}

.more5 {
	color: orange;
}

#about {
	margin-bottom: 200px;
}

.yellow-lines-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.yellow-line {
	object-fit: contain;
	width: 15%;
}

.text-beetwen-lines {
	font-size: 60px;
	font-weight: bold;
	padding: 0px 13px;
}

.about-us {
	margin-top: 80px;
}

.photowrap {
	position: relative;
}

.blue-back {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 20px;
	z-index: -1;
}

.school-photo {
	width: 100%;
}

.about-text {
	font-size: 24px;
	font-weight: lighter;
}

.button-wrap {
	display: flex;
	justify-content: flex-end;
}

.button1 {
	background: #9bd9d6;
	border-radius: 50px;
	padding: 11px 40px;
	font-weight: bold;
	font-size: 24px;
	white-space: nowrap;
}

.kid-background {
	background: url("../assets/kid-back.png");
	height: 90vh;
	max-height: 800px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.filter-wrap {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.6;
}

.filter1 {
	flex: 1;
	background: #80ff00;
}

.filter2 {
	flex: 1;
	background: white;
}

.wave-up {
	position: absolute;
	top: -6px;
}

.wave-down {
	position: absolute;
	bottom: -2px;
}

.wavephoto-up {
	width: 100%;
}

.white-lines-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 3;
	margin-top: 45px;
}

.wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.p-under-header {
	color: white;
	font-size: 28px;
	text-align: center;
}

.white-line {
	object-fit: contain;
	width: 20%;
}

.text-beetwen-lines-team {
	font-size: 60px;
	font-weight: bold;
	padding: 0px 13px;
	color: white;
}

.three-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 4;
}

.three-image-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.students {
	width: 100%;
}

.images>img {
	width: 250px;
	margin: 0px 65px 30px 65px;
}

.team-desc {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

.work-text {
	font-weight: normal;
	color: #5b8700;
}

.whole-team-text {
	z-index: 4;
	margin-top: 50px;
}

.whole-team-text-link {
	color: #5b8700;
	font-size: 24px;
}

.fun-background {
	background: url("../assets/fun.png");
	height: 90vh;
	max-height: 800px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.groups-header-string {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.zigzak-string {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.text-under-zigzak {
	text-align: center;
	color: 000;
	font-size: 28px;
	margin-top: 15px;
}

.groups-level {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 222px;
	margin-bottom: 100px;
}

.dlc {
	flex: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.level-photo1 {
	background-image: url("../assets/aqua-car.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.level-photo2 {
	background-image: url("../assets/blue-car.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.level-photo3 {
	background-image: url("../assets/orange-car.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.level-photo4 {
	background-image: url("../assets/green-car.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.level-photo5 {
	background-image: url("../assets/yellow-car.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.inside-color {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.inside-color p {
	margin: 0px;
}

.animal-icon {
	width: 60px;
	height: 80px;
	object-fit: contain;
	margin-bottom: 5px;
}

.animal-age {
	font-weight: bold;
	font-size: 35px;
}

.animal-header {
	font-size: 35px;
}

.footer-background {
	background: url("../assets/footer-back.png");

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.menu-footer {
	margin-top: 20px;
}

.menu-footer ul li {
	list-style-type: none;
	color: white;
	font-size: 21px;
}

.menu-footer ul a {
	color: white;
}

.about-school-footer {
	margin-top: 20px;
}

.about-school-footer ul li {
	list-style-type: none;
	font-size: 21px;
}

.about-school-footer ul a {
	color: white;
}

#footer-blank {
	visibility: hidden;
	font-size: 24px
}

.contact-footer {
	margin-top: 20px;
}

.contact-footer ul li {
	list-style-type: none;
	color: white;
	font-size: 21px;
}

.fa-phone,
.fa-envelope,
.fa-home {
	margin-right: 6px;
}

.logo-footer-img {
	object-fit: contain;
	width: 150px;
	height: 150px;
}

.logo-footer ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#text-under-logo-footer {
	text-align: center;
	color: white;
	font-size: 15px;
}

.header-footer {
	font-size: 24px !important;
}

.footer-li {
	margin-top: 5px;
}

.under-footer {
	width: 100%;
	height: 47px;
	background: #FF69B4;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

#text-under-footer {
	margin: 0px;
}


/* Start Responsive */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index:666;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: #808080;
  padding: 10px 15px;
  border: none;
}



#main {
  transition: margin-left .5s;
  padding: 16px;
}
#mySidebar, #main{
	display: none;
}
/* START ABOUT-KINDER */
.about-kinder-background{
	background: url("../assets/background.png");
	height: 40vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.about-kinder-filter{
	background: #7accc8;
	height: 40vh;
	width: 100%;
	opacity: 0.5;
}
.background-string{
	display: flex;
	flex-direction: row;
	position: absolute;
	z-index: 6;
}
.about-kinder-lines{
	object-fit: contain;
	width: 120px;
}
.about-kinder-header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about-kinder{
	margin-top: 30px;
}
#about-kinder-h3{
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 20px;
}
/* END ABOUT-KINDER */
/* START TEAM */
	.our-team  {
		display: flex;
		flex-direction: column;
		margin-bottom: 80px;
	}
	#team-string{
		margin-bottom: 20px;
	}
/* END TEAM */
/* START KONCEPCJA  */
#koncepcja-header{
	text-align: center;
	font-size: 25px;
}

/* END KONCEPCJA */
/* START CONTACT */
	.contact-header{
	text-align: center;
	}
	.contact-header p{
		color:#aaaaaa;
		font-size: 20px;
	}
	.contact-header span{
		color:#333333;
		font-size: 26px;
	}
	.contact-info{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		margin-top:80px;
	}
	.column-contact{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.column-contact i{
		margin-bottom: 18px;
	}
	.column-contact p{
		color:#333333;
		font-size: 20px;
	}
	.contact-info .fa, .contact-info .fas{
		font-size: 60px;
	}

	.contact-form-header{
		display: flex;
		flex-direction: row;
		margin: 0px auto;
		width: 60%;
		margin-top:100px;
		white-space: nowrap;
	}
	.contact-form-header b,.contact-form-header p {
		color:#333333;
		font-size: 20px;
	}
.contact-form-header b{
	margin-right: 5px;
}
.contact-form-wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 200px;
}
input::placeholder {
  color: #a7b2bd;
	padding-left: 8px;
}
textarea::placeholder {
  color: #a7b2bd;
	padding-left: 8px;
}
.contact-first-and-last{
	width: 60%;
	height: 40px;
}
.contact-email-and-phone{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	margin-top:10px;
}
.form-email-and-tel{
	width: calc(50% - 5px);
	height: 40px;

}
.contact-textarea{
	width: 60%;
	margin-top:10px;
}
.contact-button-wrap{
	width: 60%;
	display: flex;
	justify-content: flex-end;
}
.contact-button{
	border-radius: 0px;
	background: #f9d73e;
	color:white;
	padding: 5px 35px;
	font-size: 20px;
	margin-top:10px;
}
/* END CONTACT */
/* START GALLERY */
.whole-gallery-wrap{
	margin-bottom: 200px;
}
.invite-gallery-wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.invite-wrap{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.invite-wrap p{
	margin: 0px;
	color: #666666;
}
.invite-wrap i {
	padding-left: 6px;
	color: #666666;
}
.invite-gallery-wrap > img{
	width: 349.68px;
	object-fit: contain;
}
.pictures-gallery{
	object-fit: cover;
	height: 200px;
	width: 100%;
}
.pictures-gallery-big{
	object-fit: cover;
	height: 90vh;
	width: 100%;
}

/* END GALLERY */

/* START NEWS */
.whole-news-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 200px;
}
.single-news-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding: 40px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
	margin: 20px 0px;

}
.news-picture{
	width: 100%;
	height: 250px;
	object-fit: cover;
}
.photo-part{
	flex:1
}
.text-part{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 250px;
	flex:2;
	padding-left: 20px;
}
.text-part p, .text-part a, .old-art-link a{
	color:#777777;
}
.data-more{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.data-more p{
	margin:0px;
}
.data-wrapper{
	display: flex;
	flex-direction: row;
}
.fa-calendar-alt{
line-height: 1.5;
}
#first-h{
	color:#89d700;
}
#second-h{
	color:#e97ebf;
}
#third-h{
	color:#00aeff;
}
.old-art-link{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:50px;
}
.old-art-link a{
	text-decoration: underline;
}
#add-news-margin{
	margin-bottom: 200px;
}
.add-news-gallery-header{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 50px;
}
#one-big-one-shot{
	width: 100%;
}
.blue-underline{
	width: 100%;
	background: #7accc8;
	height: 5px;
}
.data-gallery-icon{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top:10px;
}
.data-gallery-icon p{
	margin:0px;
	line-height: 1.5px;
}
.main-center-photo{
	display: flex;
	justify-content: center;
	align-items: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* END NEWS */
/* xlarge devices - screen width equal to or greater than 1200px */

/* Navigation */
@media screen and (max-width:1200px){
  .first-green-back {
  	font-size: 30px;
  	padding: 5px 15px;
  	margin-right: 40px;
  }
  .second-green-back {
  	font-size: 60px;
  	padding: 6px 40px;
  	margin-right: 40px;
  }

  /* About us */
  	.about-text {
  		font-size: 20px;
  	}
  	.button1 {
  		font-size: 20px;
  	}
    /* Team */
    .p-under-header {
      font-size: 20px;
    }
    .images>img {
      width: 170px;
    }
    .team-desc {
      font-size: 20px;
    }
    .whole-team-text-link {
      font-size: 20px;
    }
		.wave-down{
			bottom: -4px;
		}
    /* Groups */
    .text-under-zigzak {
  		font-size: 20px;
  	}
    .groups-level {
    	width: 100%;
    	height: 186px;
    }
    .dlc {
    	width: 100%;
    	height: 100%;
    }
  	.animal-icon {
  		width: 45px;
  		height: 55px;
  	}
  	.animal-age {
  		font-size: 20px;
  	}
  	.animal-header {
  		font-size: 20px;
  	}
    /* Footer */
    .menu-footer {
    	margin-top: 20px;
      height: 195px;
    }
    .menu-footer ul li {
    	font-size: 15px;
    }
    .about-school-footer ul li {
    	font-size: 15px;
    }
    #footer-blank {
    	font-size: 15px;
    }
    .contact-footer ul li {
    	font-size: 15px;
    }
    .logo-footer-img {
    	width: 120px;
    	height: 120px;
    }
    #text-under-logo-footer {
    	font-size: 12px;
    }
    .header-footer {
    	font-size: 20px !important;
    }
    .under-footer {
    	font-size: 15px;
    }
}
/* large devices - screen width equal to or greater than 992px */

@media screen and (max-width:992px) {
	/* Navigation */

	.menu ul li {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.logophoto {
		width: 60px;
		height: 60px;
	}
	.logo-text {
		text-align: center;
		font-size: 12px;
	}
	.icon-photo {
		width: 29px;
		height: 29px;
	}
	.icon-text {
		font-size: 12px;
		text-align: center;
		white-space: nowrap;
	}
	.icon-text-home {
		font-size: 12px;
	}
	.icon-text-home-wrap {
		margin: 0px;
		padding: 0px 10px;
	}
	/* First Background */
	.background-image {
		height: 70vh;
		max-height: 800px;
	}
	.first-green-back {
		font-size: 23px;
		padding: 5px 15px;
		margin-right: 25px;
		margin-bottom: 10px;
	}
	.second-green-back {
		font-size: 49px;
		padding: 6px 30px;
		margin-right: 25px;
		margin-bottom: 40px;
	}
	.wave {
		bottom: -6px;
	}
	/* About Us */

	.about-text {
		font-size: 21px;
    margin-top:40px;
	}
	.button1 {
		font-size: 21px;
	}
  .text-beetwen-lines {
  	font-size: 50px;
  	font-weight: bold;
  	padding: 0px 13px;
  }
	/* Team */
	.kid-background {
		height: 90vh;
		max-height: 800px;
	}
  .wave-up {
    top: -8px;
  }
	.wave-down {
		bottom: -5px;
	}
	.p-under-header {
		font-size: 21px;
	}
	.images>img {
		width: 120px;
	}
	.team-desc {
		font-size: 18px;
	}
	.whole-team-text-link {
		font-size: 18px;
	}
	.fun-background {
		height: 90vh;
		max-height: 800px;
	}
	.text-under-zigzak {
		font-size: 21px;
	}
  .groups-level {
  	width: 100%;
  	height: 138px;
  }
  .dlc {
  	width: 100%;
  	height: 100%;
  }
	.animal-icon {
		width: 33px;
		height: 43px;
	}
	.animal-age {
		font-size: 18px;
	}
	.animal-header {
		font-size: 18px;
	}
	/* Footer */
	.footer-background {

	}
	.menu-footer ul {
		padding: 0px;
	}
	.menu-footer ul li {
		font-size: 15px;
	}
	.about-school-footer ul {
		padding: 0px;
	}
	.about-school-footer ul li {
		font-size: 15px;
	}
	#footer-blank {
		font-size: 15px
	}
	.contact-footer ul {
		padding: 0px;
	}
	.contact-footer ul li {
		font-size: 15px;
	}
	.logo-footer ul {
		padding: 0px;
	}
	.logo-footer-img {
		width: 100px;
		height: 100px;
	}
	#text-under-logo-footer {
		font-size: 10px;
	}
	.header-footer {
		font-size: 18px !important;
	}
	.under-footer {
		height: 31px;
		font-size: 11px;
	}
	#text-under-footer {
		margin: 0px;
	}
}


/* medium devices - screen width equal to or greater than 768px */

@media screen and (max-width:768px) {
  .container{
    max-width: 1200px;
  }
	.apple{
		display: none !important;
	}
	#mySidebar, #main{
		display: block;
	}
	/* END Navigation */
  .background-image {
  	height: 60vh;
  	max-height: 800px;
  }
  .first-green-back {
  	font-size: 23px;
  	padding: 10px 15px;
  	margin-right: 30px;
  	margin-bottom: 10px;
  }
  .second-green-back {
  	font-size: 45px;
  	padding: 10px 40px;
  	margin-right: 30px;
  	margin-bottom: 45px;
  }
  .wave {
  	bottom: -6.5px;
  }
  /* About us */


  .yellow-line {
  	object-fit: contain;
  	width: 15%;
  }

  .text-beetwen-lines {
  	font-size: 45px ;
  	font-weight: bold;
  	padding: 0px 13px;
		white-space:nowrap;
  }

  .about-us {
  	margin-top: 80px;
  }

  .photowrap {
  	position: relative;
  }

  .blue-back {
  	width: 100%;
  	position: absolute;
  	top: 0px;
  	z-index: -1;
  }

  .school-photo {
  	width: 100%;
  }

  .about-text {
  	font-size: 24px;
  	font-weight: lighter;
  }

  .button-wrap {
  	display: flex;
  	justify-content: flex-end;
  }

  .button1 {
  	border-radius: 50px;
  	padding: 5px 35px;
  	font-weight: bold;
  	font-size: 24px;
  	white-space: nowrap;
  }
	.images>img {
		width: 130px;
	}
	.wave-up{
		top:-8.3px;
	}
	.wave-down{
		bottom: -7px;
	}
	.groups-level {
  	width: 99%;
  	height: 142.36px;
  }
  .dlc {
  	width: 100%;
  	height: 100%;
  }
	.animal-icon {
		width: 33px;
		height: 43px;
	}
	.animal-age {
		font-size: 18px;
	}
	.animal-header {
		font-size: 18px;
	}
	/* Footer */
	.menu ul{
		height: 177px;
	}
	.menu-footer ul li {
		font-size: 15px;
	}
	.about-school-footer ul li {
		font-size: 15px;
	}
	#footer-blank {
		font-size: 15px;
	}
	.contact-footer ul li {
		font-size: 15px;
	}
	.logo-footer-img {
		width: 120px;
		height: 120px;
	}
	#text-under-logo-footer {
		font-size: 12px;
	}
	.header-footer {
		font-size: 20px !important;
	}
	.under-footer {
		font-size: 15px;
	}
@media screen and (max-width:710px){
	.images>img {
		width: 100px;
	}
}
@media screen and (max-width:644px){
	.groups-level {
  	width: 99%;
  	height: 142.36px;
  }
  .dlc {
  	width: 100%;
  	height: 100%;
  }
	.animal-icon {
		width: 27px;
		height: 37px;
	}
	.animal-age {
		font-size: 13px;
	}
	.animal-header {
		font-size: 13px;
	}
}
@media screen and (max-width:644px){
	.images>img {
		width: 80px;
	}
}
@media screen and (max-width:608px){
	.groups-level {
		width: 99%;
		height: 142.36px;
	}
	.dlc {
		width: 100%;
		height: 100%;
	}
	.animal-icon {
		width: 24px;
		height: 34px;
	}
	.animal-age {
		font-size: 12px;
	}
	.animal-header {
		font-size: 12px;
	}
}
@media screen and (max-width:599px){
	.wave-up{
		top: -8.9px;
	}
}
@media screen and (max-width:596px){
	.wave-up{
		top: -8.5px;
	}
}
@media screen and (max-width:580px){
	.wave-up{
		top:-8.6px;
	}
}
/* small devices - screen width equal to or greater than 576px */

@media screen and (max-width:576px) {
	.container{
		max-width: 1200px;
	}
	.background-image {
		height: 90vh;
		max-height: 450px;
	}

	.first-green-back {
		font-size: 18px;
		padding: 7px 9px;
		margin-right: 30px;
		margin-bottom: 10px;
	}

	.second-green-back {
		font-size: 35px;
		padding: 6px 25px;
		margin-right: 30px;
		margin-bottom: 50px;
	}

	.wave {
		bottom: -7.5px;
	}

	.text-beetwen-lines {
		font-size: 37px;
	}

	.about-text {
		font-size: 19px;
	}

	.button1 {
		font-size: 19px;
	}

	.kid-background {
		height: 90vh;
		max-height: 500px;
	}

	.wave-up {
		top: -9.2px;
	}

	.wave-down {
		bottom: -7.3px;
	}

	.text-beetwen-lines-team {
		font-size: 40px;
	}

	.p-under-header {
		font-size: 17px;
	}

	.images>img {
		width: 80px;
		margin: 5px 35px;
	}

	.images {
		width: 33%;
	}

	.team-desc {
		font-size: 15px;
	}

	.whole-team-text-link {
		font-size: 15px;
	}

	.text-under-zigzak {
		font-size: 13px;
	}

	.fun-background {
		height: 90vh;
		max-height: 500px;
	}

	.groups-level {
		width: 100%;
		height: 102px;
	}

	.animal-icon {
		width: 30px;
		height: 50px;
	}

	.animal-age {
		font-size: 15px;
	}

	.animal-header {
		font-size: 15px;
	}

	.footer-background {

		flex-direction: column;
	}

	.menu-footer ul {
		padding: 0px;
	}

	.menu-footer ul li {
		font-size: 10px;
	}

	.about-school-footer ul {
		padding: 0px;
	}

	.about-school-footer ul li {
		font-size: 10px;
	}

	#footer-blank {
		font-size: 10px
	}

	.contact-footer ul {
		padding: 0px;
	}

	.contact-footer ul li {
		font-size: 10px;
	}

	.logo-footer ul {
		padding: 0px;
	}

	.logo-footer-img {
		width: 70px;
		height: 70px;
	}

	#text-under-logo-footer {
		font-size: 7px;
	}

	.header-footer {
		font-size: 13px !important;
	}

	.under-footer {
		height: 27px;
		font-size: 10px;
	}

	#text-under-footer {
		margin: 0px;
	}

	.footer-li,
	.header-footer,
	#footer-blank {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
}
@media screen and (max-width:576px){
	.groups-level {
		width: 100%;
		height: 100px;
	}
	.dlc {
		width: 100%;
		height: 100%;
	}

	.animal-icon {
		width: 25px;
		height: 40px;
	}

	.animal-age {
		font-size: 11px;
	}

	.animal-header {
		font-size: 11px;
	}
}
@media screen and (max-width:575px){
	.groups-level {
		width: 100%;
		height: 106px;
	}
	.dlc {
		width: 100%;
		height: 100%;
	}

	.animal-icon {
		width: 24px;
		height: 38px;
	}

	.animal-age {
		font-size: 13px;
	}

	.animal-header {
		font-size:13px;
	}
}
@media screen and (max-width:483px){
	.groups-level {
		width: 100%;
		height: 87.9px;
	}
	.dlc {
		width: 100%;
		height: 100%;
	}

	.animal-icon {
		width: 20px;
		height: 35px;
	}

	.animal-age {
		font-size: 8px;
	}

	.animal-header {
		font-size: 8px;
	}
}
@media screen and (max-width:482px){
	.wave-up{
		top:-9.7px;
	}
}
@media screen and (max-width:466px){
	.wave-up{
		top:-10px;
	}
}
@media screen and (max-width:465px){
	.container{
		max-width: 1200px;
	}
	.background-image {
		height: 90vh;
		max-height: 450px;
	}

	.first-green-back {
		font-size: 14px;
		padding: 7px 9px;
		margin-right: 30px;
		margin-bottom: 10px;
	}

	.second-green-back {
		font-size: 28px;
		padding: 6px 25px;
		margin-right: 30px;
		margin-bottom: 50px;
	}

	.wave {
		bottom: -8px;
	}

	.text-beetwen-lines {
		font-size: 25px;
	}

	.about-text {
		font-size: 15px;
	}

	.button1 {
		font-size: 15px;
	}

	.kid-background {
		height: 90vh;
		max-height: 500px;
	}

	.wave-up {
		top: -10.2px;
	}

	.wave-down {
		bottom: -8.5px;
	}

	.text-beetwen-lines-team {
		font-size: 25px;
	}

	.p-under-header {
		font-size: 15px;
	}

	.images>img {
		width: 60px;
		margin: 5px 35px;
	}

	.images {
		width: 33%;
	}

	.team-desc {
		font-size: 11px;
	}

	.whole-team-text-link {
		font-size: 11px;
	}

	.text-under-zigzak {
		font-size: 14px;
	}

	.fun-background {
		height: 90vh;
		max-height: 500px;
	}

	.groups-level {
		width: 100%;
		height: 83px;
	}
	.dlc {
		width: 100%;
		height: 100%;
	}

	.animal-icon {
		width: 25px;
		height: 40px;
	}

	.animal-age {
		font-size: 11px;
	}

	.animal-header {
		font-size: 11px;
	}

	.footer-background {

		flex-direction: column;
	}

	.menu-footer ul {
		padding: 0px;
	}

	.menu-footer ul li {
		font-size: 10px;
	}

	.about-school-footer ul {
		padding: 0px;
	}

	.about-school-footer ul li {
		font-size: 10px;
	}

	#footer-blank {
		font-size: 10px
	}

	.contact-footer ul {
		padding: 0px;
	}

	.contact-footer ul li {
		font-size: 10px;
	}

	.logo-footer ul {
		padding: 0px;
	}

	.logo-footer-img {
		width: 70px;
		height: 70px;
	}

	#text-under-logo-footer {
		font-size: 7px;
	}

	.header-footer {
		font-size: 13px !important;
	}

	.under-footer {
		height: 27px;
		font-size: 7px;
	}

	#text-under-footer {
		margin: 0px;
	}

	.footer-li,
	.header-footer,
	#footer-blank {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
}


@media screen and (max-width:445px){
	.groups-level {
		width: 100%;
		height: 80px;
	}
	.dlc {
		width: 100%;
		height: 100%;
	}

	.animal-icon {
		width: 20px;
		height: 35px;
	}

	.animal-age {
		font-size: 8px;
	}

	.animal-header {
		font-size: 8px;
	}
}
@media screen and (max-width:404px){
	.groups-level {
		width: 100%;
		height: 80px;
	}
	.dlc {
		width: 100%;
		height: 100%;
	}

	.animal-icon {
		width: 16px;
		height: 30px;
	}

	.animal-age {
		font-size: 7px;
	}

	.animal-header {
		font-size: 7px;
	}
}
@media screen and (max-width:372px){
	.wave-up{
		top: -11px;
	}
}
